@{
    ViewData["Title"] = "Home Page";
}
<div class=" nav breadcrumb container justify-content-center">
    @DateTime.Now.ToLongDateString()
</div>
<div class="text-center">
    <h1 class="display-4">Click a link below to view a planet</h1>
</div>
<div class="list-group text-center">
    <a class="list-group-item" href="~/Home/Venus">Venus</a>

    <a class="list-group-item" href="~/Home/Earth">Earth</a>

    <a class="list-group-item" href="~/Home/Mars">Mars</a>

    <a class="list-group-item" href="~/Home/Jupiter">Jupiter</a>

    <a class="list-group-item" href="~/Home/Uranus">Uranus</a>
</div>
