
@{
    ViewData["Title"] = "Jupiter";
}

<div class=" nav breadcrumb container justify-content-center">
    <a href="~/Home/Index">Home</a>
</div>
<div class="container text-center">
    <h1 class="display-4">Jupiter</h1>
    <img src="~/images/jupiter.jpg" />
</div>

